[2013-09-15 06:41] Ortham opened #1 "Transfer wiki pages from Google Code"
The wiki pages at Google Code are:
- [x] [NewMembersGettingStarted](https://code.google.com/p/better-oblivion-sorting-software/wiki/NewMembersGettingStarted) - transfer to this wiki.
- [x] [BashTagsReference](https://code.google.com/p/better-oblivion-sorting-software/wiki/BashTagsReference) - transfer the FO3 and FONV part to wiki pages in the boss-fallout3 and boss-fallout-new-vegas wikis.
- [x]

[2013-09-15 06:57] Ortham opened #2 "Build web-based masterlist search utility"
It would be pretty handy to have a utility that would search the latest revision of a game's masterlist for a plugin name or part of a plugin name and return a list of matching plugins and regex entries, displaying their line numbers and the entry details.

This could probably be done using a web-based javascript search. A proper YAML parse is probably unnecessary, all that needs to be done is to

[2013-09-15 06:59] Ortham opened #3 "Host release readmes as static pages?"
Could be useful.

[2013-09-15 17:19] Ortham opened #4 "Converting v2 masterlists to v3"
### What Needs Doing

I have written a [masterlist converter](https://github.com/boss-developers/boss-code/releases/tag/masterlist-converter-v1.0.2) can be used to partially convert the v2 masterlists. The conversion is partial because some data gets skipped and must be double-checked, and some data must be adapted into suitable forms for the v3 masterlists.

The following get skipped but might co

[2013-09-17 08:53] Ortham opened #5 "Set up existing Google Code team members on GitHub"
Team members need:
1. To register on GitHub.
2. To have their GitHub usernames added to the appropriate boss-developer account teams.
3. To be added to the [Team Members](https://github.com/boss-developers/boss-developers.github.io/wiki/Team-Members) wiki page.

If a member doesn't want to continue contributing, steps 1 and 2 can be skipped, and they should be added to the ex-members sections on t

[2013-09-17 08:58] Ortham opened #6 "Create User-Friendly Landing Page"
Since BOSS now has a [website](http://boss-developers.github.io), it would be good to take advantage of the opportunity to make it easier for users to download BOSS using it, rather than using the GitHub interface.

Stuff the landing page needs:
- [x] Short intro on what BOSS is.
- [x] Links to latest release download(s).
- [x] Links to the BGS forum threads.

[2013-09-17 09:08] Ortham opened #7 "Decommission Google Code pages"
This is the to-do list for when the Google Code pages get decommissioned.
- [x] Remove the BOSS-Committers group from the Google Code front page.
- [x] Remove the BGS forum thread links from the Google Code front page.
- [x] Add an obvious "we've moved" message with a link above the Introduction on the Google Code front page.

[2013-09-17 09:13] Ortham opened #8 "Close down Bugzilla tracker"
Since BOSSv3 doesn't use the Bugzilla tracker, it should be closed down after v3's release. The [Bugzilla scanner](http://boss-developers.github.io/bugzilla/) tool that is in development could be used to take a copy of all the submitted data, and then any useful data could be stored in the v3 masterlists.

However, there's a lot of data on the Bugzilla trackers, and even just double-checking auto-

[2013-09-17 09:13] Ortham opened #9 "Moving from Google Code"
This issue tracks the various things that need to be done as part of moving from Google Code to GitHub. It is semi-related to the various things that need to be done as part of releasing v3, which has an issue [here](https://github.com/boss-developers/boss-code/issues/59).
- [x] Transfer wiki pages (issue #1).
- [x] Get team members set up on GitHub (issue #5).
- [x] Create a user-friendly landing

[2013-09-17 16:43] #1 closed, assigned to nobody

[2013-09-17 16:59] Ortham opened #10 "Closing down the BOSS Committers Google Group"
The [group](https://groups.google.com/forum/#!forum/boss-committers) will be closed ASAP, since it doesn't fulfil any function that can't be carried out by the BGS forums or the issue trackers here.

I'll have a look through it and post anything I think might be worth keeping here, and then decide on whether or not it's actually worth keeping and where it should go if so.

[2013-09-17 18:26] #6 closed, assigned to nobody

[2013-09-17 19:22] #7 closed, assigned to nobody

[2013-09-17 22:45] #10 closed, assigned to Ortham

[2013-09-19 22:27] Ortham opened #11 "Masterlist search improvements"
Filters would be nice. The trick is to not spend time adding features that can be replicated simply with `Ctrl-F`. While it's useful to see what plugins have certain priority values, that's something that is `Ctrl-F`-able.

What's not is finding things within lists, so we could have filters by requirements, incompatibilities and Bash Tags being useful.

[2013-09-21 07:37] #11 closed, assigned to nobody

[2013-09-21 07:55] Ortham opened #12 "Flesh out Masterlist Editing wiki page"
The masterlist editing page needs more info on the basics, like what to do about mods with deleted navmeshes, and dirty edits, how to decide if something is worth a message or not. If you can think of anything, feel free to edit the page.

[2013-09-21 07:58] Ortham opened #13 "Update generic thread description for v3"
The generic thread description in the Thread Management page is a copy/paste of the v2 one, and should be updated for v3.

[2013-09-21 08:05] #13 closed, assigned to Ortham

[2013-09-21 08:10] #3 closed, assigned to nobody

[2013-12-28 21:23] Ortham opened #14 "Version 3.0.0 release"
@boss-developers: What's people's opinions on how close we are to release? I've been pretty much absent for a few months, so I might have forgotten or missed some stuff, but AFAIK:
1. The program code is stable and release-ready. There are things I want to improve on, but I'd like more user feedback first and to get something released before working on them. It's hard to tell what needs improving

[2014-02-02 18:14] #12 closed, assigned to nobody

[2014-02-02 18:17] #5 closed, assigned to Ortham

[2014-02-27 08:40] Ortham opened #15 "BOSS v3 to LOOT v0.5"
What needs to be done:
- All repository files need to be edited to replace BOSS with LOOT.
- Screenshots will need to be replaced.
- ~~Wiki pages need to be updated.~~
- ~~Tags on the `loot` repository need to be re-applied, but with v0.5 prefixes instead of the v3.0.0 prefixes.~~ Won't do, since they're part of project history.
- ~~The releases on GitHub need to be renamed.~~ Won't do, since they

[2014-02-28 20:44] kymckay opened #16 "Finding a new icon for LOOT"
Bethsoft thread on the issue can be found [here](http://forums.bethsoft.com/topic/1491430-req-icon-for-loot/)

I can mock up some designs for LOOT icons. I'm currently experimenting with a chest design to see what I can come up with.

I have access to adobe illustrator and photoshop so making vector images is no problem if they provide any benefit (can be scaled with no quality loss). My avatar is

[2014-03-05 12:58] #9 closed, assigned to nobody

[2014-03-05 13:09] #14 closed, assigned to nobody

[2014-03-05 13:10] #8 closed, assigned to nobody

[2014-03-05 13:11] #4 closed, assigned to nobody

[2014-03-05 13:11] #16 closed, assigned to nobody

[2014-03-07 10:16] #15 closed, assigned to nobody

[2014-03-18 17:38] Freso opened #18 "Write a masterlist YAML schema definition"
As a follow-up to the very basic YAML testing now enabled on the masterlist repositories, it would good if we could further check for actual "masterlist specification validity" instead of just checking whether it's well-formed YAML.

It seems like there are two schema definition "schemas" that might be relevant:
- [Kwalify](http://www.kuwata-lab.com/kwalify/)
- [Rx](http://rx.codesimply.com/)

My

[2014-03-25 14:18] Ortham opened #19 "Shake Up Team Stuff"
Since we're on GitHub, it would be good to provide greater focus on getting people to contribute without needing to be a member of the team. The wiki pages will need going over to make sure they're suitably accessible, and I'd also like to replace the Team Members wiki page with a site page that credits contributors, team or otherwise, since the GitHub API can give all the same information as in t

[2014-03-26 19:33] Ortham opened #20 "Change to Membership Removal Policy"
@loot/looters: I put in place the membership removal policy because at one point we were getting lots of people signing up to help out with BOSS, but then not actually doing anything, and I found it a bit irksome that they'd be credited the same as those members who had actually done a lot.

However, because of my plans in #19, this won't be an issue in the future (basically, people will only be a

[2014-03-27 15:01] #20 closed, assigned to nobody

[2014-03-29 17:26] #19 closed, assigned to nobody

[2014-03-29 18:14] #2 closed, assigned to nobody

[2014-03-29 18:15] WrinklyNinja opened #21 "Masterlist search results formatting"
The masterlist search results are formatted according to js-yaml's dump function, but this differs to how the data is contained in the masterlist, and indeed differs to our style guide.

It would be nice if we could have the output be in the same format.

[2014-03-29 18:17] WrinklyNinja opened #22 "Masterlist search alias resolution"
The masterlist search doesn't seem to resolve aliases, just replacing them with empty objects. For example, search `RealitySpectre'sBetterPotions.esp` in the Oblivion masterlist.

This is probably an underlying issue with js-yaml.

[2014-04-03 16:30] WilliamImm opened #23 "Prefix masterlist repos (also applies to BOSS)"
The masterlist repos for both BOSS and LOOT share the same name - which becomes a problem if you are using Github for Windows to manage repo updates and do contributions to both masterlists.

As is, if you want to contribute to the other masterlist, you'd have to unwatch, then delete the masterlist repo you want to switch from, then download the other masterlist repo. This gets very annonying very

[2014-04-03 16:46] #23 closed, assigned to nobody

[2014-04-27 21:00] egocarib opened #24 "FAQs"
I like the new FAQs page. Just thought I'd mention, it might be good to also put a link to it on `http://loot.github.io/` - maybe in the Documentation section.

[2014-04-28 03:47] #24 closed, assigned to nobody

[2014-06-14 21:14] TheKingOfLegends opened #25 "LOOT ~ causes game crash!"
i have been using LOOT for a while now and never had an issue with it before,

i have been using mods i am comfortable with and know  very well and how they should be, where they should be, and how they work, etc. etc. etc.

but just recently as 3 days ago i used to LOOT again, and it messed something up, to be honest idk what the deal is.

i have been troubleshooting the problem since it a raised

[2014-07-15 09:48] Layongod opened #26 "LOOT 0.6"
![loot](https://cloud.githubusercontent.com/assets/8167807/3583116/10faccf4-0c05-11e4-8131-8a308f94405d.JPG)

is there anyone experiencing this?
how do i fix this?
0.5 works great for me

[2014-07-18 09:24] #26 closed, assigned to nobody

[2014-08-02 18:36] #25 closed, assigned to nobody

[2014-08-02 18:40] Freso opened #27 "IRC notifications have stopped"
It's been a while (a _long_ while) since I saw any notifications in the #loot channel. This is just meant as a reminder and possible note storage for me to fix it.

https://developer.github.com/v3/repos/hooks/#edit-a-hook might be a place to start.

[2014-08-04 10:33] #27 closed, assigned to Freso

[2014-08-09 05:07] rmm200 opened #28 "Loot 0.6.0 report blank on Vista"
I know this has been opened and closed, probably more than once.
Report does not work on Vista 64 Ultimate. The page is blank.
Latest IE available for Vista is 9, which I have.
All options to allow active content are set, per the FAQ.
Copying the path from the debug log works fine (changing the %32),
but this is hardly an acceptable solution.
There you have my report. It would be nice to see this

[2014-08-12 17:54] Freso opened #29 "Flesh out Global Priorities wikipage"
To move results from loot/skyrim#26 and loot/oblivion#7 to a usable locations, I've created a [Global Priorities wikipage](https://github.com/loot/loot.github.io/wiki/Global-Priorities). However, it could use some fleshing out before it is linked from the sidebar and other pages.
- [x] Write/add description of global priorities (what they are and how they work). Perhaps @WrinklyNinja could be pers

[2014-08-31 15:31] #28 closed, assigned to nobody

[2014-08-31 15:33] #29 closed, assigned to nobody

[2014-09-01 23:40] benwalburn opened #30 "•Error: Failed to calculate the load order. Details: boost::filesystem::path codecvt to wstring: error"
The paste includes the two debug logs and my plugins.

http://pastebin.com/sPvrczcT

[2014-09-01 23:44] #30 closed, assigned to nobody

[2014-09-02 13:52] #18 closed, assigned to nobody

[2014-09-25 02:04] CurusKeel opened #31 "Add URLs for each listed mod in each masterlist"
The recently introduced mod URL feature of LOOT is brilliant: people may forget what ESPs are linked to what mods sometimes, and this helps users keep better track of their mod list. I suggest that every listed mod in each masterlist (whenever possible) have URLs that link back to the original mod page.

For Fallout: New Vegas, I have started the move by making a pull request for adding URLs to a

[2014-10-02 23:15] WilliamImm opened #33 "LOOT icon on the main page is at horribly low resolution"
Pretty much what it says in the title. I suggest getting the larger icon for that pronto.

[2014-10-02 23:22] #33 closed, assigned to nobody

[2014-12-16 01:13] Ortham opened #34 "Site redesign"
The site looks a bit crummy, it still has the "throw something together quickly" layout I started with. Since LOOT v0.7's UI is going to be based on Material Design, it would be nicely consistent if the site were redesigned with the same style.

I've started this work in the `material-redesign` branch. Still to do are:
- [x] Swap the `<select>` in the plugin search page with a `<paper-dropdown-men

[2014-12-16 11:04] #34 closed, assigned to nobody

[2015-01-18 12:09] Equilibrior opened #35 "Asian Charakters in General Messages"
In the "General Messages" Corner of the Summary Page are all Messages written with Asian Charakter, although my Language Settings are German.
![unbenannt](https://cloud.githubusercontent.com/assets/2765538/5792315/231c86ba-9f13-11e4-9ddc-48fea058736e.JPG)

[2015-01-18 14:19] WrinklyNinja commented on #35
OK, I can replicate this in v0.6.1, it looks like I didn't properly fix messages being displayed using the wrong language in that release. The issue isn't present in the v0.7.0 beta though.

[2015-01-18 14:19] #35 closed

[2015-01-28 18:38] GamerPoets opened #36 "Revenge of the Enemies = Load After"
The mod Revenge of the Enemies... (link below)
http://www.nexusmods.com/skyrim/mods/40491

...specifies on it's page that it should load after the Skyrim Redone. SkyRe_EnemyAI.esp so that it can function properly. However, LOOT does not load it this way. And when I try to do the "load after" myself, SkyRe_EnemyAI does not show up as a conflict for me to do so.

[2015-01-31 10:52] WrinklyNinja commented on #36
Looking in TES5Edit, there is indeed no conflict between `Rebirth Monster.esp` and `SkyRe_EnemyAI.esp`, so LOOT is working correctly.

Also, in future, game-specific bug reports should be filed in their masterlist repository, eg. [loot/skyrim](https://github.com/loot/skyrim).

[2015-01-31 10:52] #36 closed

[2015-04-25 14:02] mikeloeven opened #37 "Consistantly allows Cooking / Food Mods to load After RND"
The sorting system needs to load Realistic needs and Diseases and it's associated Compatibility patches After any and all cooking or food mods otherwise the majority of food in the game will not be able to restore hunger and thirst. Currently LOOT doesent do this and while the RND patches will load after the cooking mods they are associated with the cooking mods themselves will frequently load aft

[2015-04-26 08:42] WrinklyNinja commented on #37
So RND needs to load after these cooking/food mods, but the patches are OK where they are?

Also, the proper place for this report would be [here](https://github.com/loot/skyrim/issues).

[2015-04-26 11:29] mikeloeven commented on #37
RND loads after all Cooking and dlc patches for said cooking mods and the RND compatibility patches need to load after RND

[2015-04-26 12:29] WrinklyNinja commented on #37
I'm still not clear on what needs to change.

[2015-04-26 14:03] LuthienKess commented on #37
I just tried sorting a few of the more common cooking mods to see if I could re-create the problem.

* Cooking Expanded was mostly fine, a couple compatibility patches could be re-ordered, but it only affected about a dozen items.
* Gromits Cooking Recipies wasn't compatible at all, and I couldn't find a compatibility patch.
* Babettes Feast, when used with the RND patch on the RND page, as descri

[2015-06-17 22:22] WrinklyNinja opened #38 "Overhaul location metadata structure"
Firstly, specifying versions is not very useful, because typically only the latest version is of interest, and having multiple possible versions complicates potential usage of the URLs.

I think it would be more useful to just assume that all given URLs are for the latest version, because when adding a link, it's easy enough to check whether the others are still valid, and if they become invalid a

[2015-06-18 00:54] egocarib commented on #38
I agree that version info isn't very useful for `url` entries.

The "Open at..." idea is cool. My only reservation is the fact that people are unlikely to report more than one location in most cases (and looters are unlikely to go check more than one location either). That's not to say it shouldn't be implemented - it would be a cool feature especially for the big hitters like the Unofficial Patch

[2015-06-18 09:27] WrinklyNinja commented on #38
Yeah, but the rationale is that some mods get hosted with multiple mirrors, and it's good to store that info in case one site disappears or the author decides to stop hosting on a site.

Of course, an implementation might just pick the first URL in the list to use, but at least if it goes bad there's just some shuffling to do. I dunno, this is all pretty hypothetical still.

And yeah, auto hyperli

[2015-06-18 09:51] WrinklyNinja opened #39 "Masterlist versioning"
@loot/looters: Opening this issue to discuss how to handle backwards-incompatible changes to the masterlist.

For example, LOOT v0.7.0 added support for:

* GitHub Flavored Markdown message formatting
* Message string substitution
* YAML merge keys

These are all useful things, but using them means that users that haven't yet updated will have a degraded experience, be it by having syntax errors o

[2015-06-18 14:17] SilentSpike commented on #39
:+1: Option 2

Anyone who doesn't update accepts that they won't necessarily receive the latest changes already

[2015-06-18 17:36] Freso commented on #39
I think a branch per version-that-alters-metadata-format is a good way to go. Perhaps rename "master" into... what LOOT metadata format version we want to call that. :)

[2015-06-18 17:55] WrinklyNinja commented on #39
Well, we can't rename the `master` branch without breaking everyone's existing masterlist update, but to clarify all the branches the repo readmes could be updated to have a section explaining the branching system, and saying that the `master` branch belongs to the masterlist before it was versioned. I would also update the wiki to add information on the branching system.

I will probably release

[2015-06-18 18:05] Sharlikran commented on #38
For my patches I have some of them set up with version numbers because there are multiple files at one link.  Also because the intent of the message is to say if you don't have this version, then the file was made prior to the CK or has other undesirable issues.

If changing the way we present the information needs to change then I'm all for it.  I'm happy just limiting my usage of version numbers

[2015-06-18 19:22] Freso commented on #39
Right… Someone should go think about this two years ago and fix it since the first build. :stuck_out_tongue_winking_eye:
(Speaking of going back in time, I feel I already did some discussion on this some time ago?)

[2015-06-18 19:27] niveuseverto commented on #39
why to rename master branch?
master can become "backward compatible branch"
may be we should make "master" <-> "next" policy? overtime next branch will be merged into master and new next will be created (if needed)

[2015-06-18 19:31] Freso commented on #38
+1 to adding "names"/descriptors of some sort to `url`s.
+0 to removing 'ver`. (Ie., I'm not for nor against that.)

[2015-06-18 19:33] Freso commented on #37
This is an issue for the Skyrim masterlist, which has a separate bug tracker at https://github.com/loot/skyrim/issues – please report this issue there instead. Thank you.

[2015-06-18 19:33] #37 closed

[2015-06-18 19:34] Freso commented on #31
@William-Imm and @loot/looters: Do we still need this ticket open? Consider also discussion at #38.

[2015-06-18 19:38] William-Imm commented on #38
I would like to see name/descriptors for URLs myself.

[2015-06-18 19:40] WrinklyNinja commented on #31
After further thought, I'm OK with this, but I'll stop short of making it a recommendation, i.e. you can add entries just to add a URL, or you can choose not to, and both are equally fine.

I'm going to shoot this down as not being worth the complexity, both in terms of effort saved and the accuracy of the results.

With my answers above, I have nothing more to add, but since @William-Imm opened i

[2015-06-18 19:42] Freso commented on #39
@niveuseverto, "master" is *usually* the most recent code, either most recent stable or most recent experimental depending on how a team is using Git, but either way, some form of the "latest" version.

With the approach outlined as option 2 in @WrinklyNinja's post, "master" would be a <0.7.1 branch and all future masterlist format revisions will spawn new branches for their "format version". Havi

[2015-06-18 19:45] WrinklyNinja commented on #39
Hence the need to (or at least benefit of) explaining the branches in the repo readmes. Also note that you can change the branch GitHub displays as the default branch in the repo settings, like how the loot/loot repository has a master branch but `dev` is the default. I envisage that we'd change the default when a new version branch was made (which can help with things like making sure pull reques

[2015-06-18 19:49] William-Imm commented on #31
I think I'll keep the ticket open. Still think it's good as a reminder to add mod URLs.

[2015-06-18 19:52] Freso commented on #31
Wouldn't it be better to add a reminder in the documentation somewhere? (Possibly with a link/footnote link to this issue.)

[2015-06-18 22:44] egocarib commented on #38
Another Yea for names/descriptors.
And this sounds like a good idea:

[2015-06-18 22:52] egocarib commented on #39
I also like the idea of new backwards-incompatible branches, which allows us the freedom take advantage of new syntax enhancements, and allows users the freedom to stick with an old version if they so desire. If we go that route, though, I don't forsee myself making any effort to port changes back to older versions of the masterlist.

[2015-06-19 05:52] Freso commented on #39
@egocarib And that's fine. We're under no obligation to. If people want to use outdated software, they must be fine having an outdated masterlist as well. If not, well, pull requests are free. :+1:

[2015-06-20 14:34] WrinklyNinja opened #40 "Add `many(<regex>)` function to metadata condition syntax"
"Use only one X plugin" is a message template that pops up a lot in the masterlists, but implementing it requires a compromise in one of two ways:

1. You attach the message to a regex entry, so that it is displayed for all matching plugins. This is simpler and more compact, but the message gets displayed even if only one plugin is used.
2. You attach the message to separate entries for each plugi

[2015-06-20 15:31] Freso commented on #40
:+1:

[2015-06-21 10:46] WrinklyNinja commented on #39
I have added a [Masterlist Versioning](https://github.com/loot/loot.github.io/wiki/Masterlist-Versioning) wiki page to explain the system, and updated the [Making A Release](https://github.com/loot/loot.github.io/wiki/Making-A-Release) page to include the additional steps.

I have also created `v0.7` branches in the masterlist repositories, and updated LOOT's code to use them, in preparation for t

[2015-06-24 12:36] WrinklyNinja commented on #38
Re-posting this here for greater visibility:

In LOOT v0.8, the `ver` key will be removed, and a `name` key added (it takes a string value). You *can* use the name key immediately, it'll just get ignored by current versions of LOOT. This may be useful if you want to start naming URLs right away.

[2015-07-01 04:46] germanicus1964 opened #41 "Lopad order question"
Why Loot 0.7.1 places new installed mods at the bottom of the load order? And how to change automatic ordering?

[2015-07-01 08:48] WrinklyNinja commented on #41
If you're referring to where they are put when you open LOOT, that's because they don't have any existing load order position, so putting them at the end makes more sense than putting them anywhere else.

If you're referring to where they are put when LOOT sorts them, that's just coincidence, LOOT doesn't care whether mods are newly-installed or not when sorting.

As for how to change LOOT's sorti

[2015-07-01 12:57] germanicus1964 commented on #41
Thanks for the answer.

[2015-07-01 16:25] #41 closed

[2015-07-08 19:46] WrinklyNinja opened #42 "Update site to use Material Design Lite, maybe Polymer 1.0"
LOOT's site currently uses Polymer v0.5 to provide many of its elements. Polymer v1.0 is available, but the site uses the `<paper-dropdown-menu>` element, which has not yet been updated for v1.0, though it is on the roadmap.

Google have also recently released [Material Design Lite](http://www.getmdl.io/), which as the name suggests provides a more lightweight implementation of Material Design, wi

[2015-07-08 19:56] WrinklyNinja commented on #42
The initial MDL conversion has been done as of 170f75d7a50ef7749b21e707f1895c5ebbfdebfe.

[2015-07-09 00:04] WrinklyNinja commented on #42
Well, it turns out that MDL's icon menu button can also take text, and doubles as a pretty close approximation to a `<paper-dropdown-menu>` with a couple of lines of JavaScript, so I have removed the Polymer dependency as of 354142f50fd362286dde064c66bfec8fbcad4329.

I've also switched to using a CDN for the js-yaml dependency, so now the only one that needs to be bundled is Octokat.js. :fireworks

[2015-07-09 00:04] #42 closed

[2015-07-15 21:40] WrinklyNinja commented on #40
Now in the latest `dev` code, so closing this.

[2015-07-15 21:40] #40 closed

[2015-07-15 21:41] WrinklyNinja commented on #38
Now in the latest `dev` code, so closing this.

[2015-07-15 21:41] #38 closed

[2015-07-16 12:05] WrinklyNinja opened #43 "Improve masterlist validation"
The automated masterlist validation system that's implemented using Travis CI is pretty useful, but it does suffer from some shortcomings:

1. It's not very precise. Due to the shortcomings in the validator it uses ([Kwalify](http://www.kuwata-lab.com/kwalify/)), it can't test:
  * the validity of structures which can be scalars or maps,
  * condition syntax
  * other restrictions, eg. no dirty in

[2015-07-17 12:17] WrinklyNinja commented on #43
I [wrote the validator](https://github.com/loot/loot/commit/8ac7b190df6528b3c8f6b7b6aae5800781ac8ae6), and tested it with a [valid masterlist](https://travis-ci.org/loot/loot/builds/71402706) (4 min 11 sec) and an [invalid masterlist](https://travis-ci.org/loot/loot) (4 min 45 sec).

I've still got to tidy things up and split the `.travis.yml`, but once I've done that and merged the changes into t

[2015-07-19 22:59] WrinklyNinja commented on #43
The Skyrim masterlist's `v0.8` branch is [now using](https://travis-ci.org/loot/skyrim/builds/71693383) the new validator. I'll probably switch the other masterlists' `v0.8` branches over to the new validator tomorrow.

I'm having a bit of trouble coming up with a good way to get a metadata-validator binary online for Travis to use. Attaching it to a GitHub Release seems to still be the best way,

[2015-07-20 12:09] WrinklyNinja commented on #43
After some testing of Travis' GitHub Releases deployment feature, I've found it fits the bill.

I've updated the loot/loot repository Travis config so that it will deploy a Linux metadata-validator binary archive to a GitHub release in that repository whenever a tagged build passes its tests (which a tagged build always should, being a release). This means that a new validator will automatically b

[2015-07-20 13:18] WrinklyNinja commented on #39
I've added a CONTRIBUTING.md file with a link to the versioning wiki page to each masterlist repo, so closing this.

[2015-07-20 13:18] #39 closed

[2015-07-22 11:51] WrinklyNinja commented on #43
All masterlist repositories are now using the new validator on their `v0.8` branch, so closing this.

[2015-07-22 11:51] #43 closed

[2015-09-19 10:04] WrinklyNinja commented on #31
I've changed my mind on adding entries with only url metadata, as I'm currently trying to replace or remove dead links that have been reported, and it's a pain.

While being able to link plugins back to their mods' hosting location is useful to users, I strongly suspect that most use the Steam Workshop, Mod Organiser or Nexus Mod Manager, all of which strongly tie back to hosts (MO and NMM can sho

[2015-10-02 18:29] WrinklyNinja opened #44 "Masterlist search should search the default branch"
Right now the masterlist search page is searching the `master` branches, which are outdated. If the GitHub API can communicate which is the default branch, it should be searched, otherwise a dropdown branch selection should be provided.

[2015-10-03 10:48] WrinklyNinja commented on #44
One other future improvement to the search functionality would be to use the Repository Contents API when/if the Skyrim masterlist shrinks below 1 MB, as it would only require 1 API call vs. 3 calls to the Git Data API.

[2015-10-10 02:28] Nhawks1717 opened #45 "Error code: -1; Invalid game ID supplied."
Hello, I am trying to install LOOT and when I first open it up it shows me this
![screenshot_1](https://cloud.githubusercontent.com/assets/4544064/10408746/f2b77dc6-6ed4-11e5-9124-51c13866adb6.png)
and when I go to hit apply it gives me the error code in the title. I've tried specifying the install path for my Skyrim file as well and it says the same thing. Am I doing something wrong? I've reinsta

[2015-10-10 02:33] #45 closed

[2015-10-15 19:50] WrinklyNinja commented on #44
Done in 4600ac9f353cae66d2686aca961b58a3130f65be, the Skyrim masterlist is now < 1 MB so I can use the Contents API, which also uses the repo's default branch unless told otherwise.

[2015-10-15 19:50] #44 closed

[2015-10-15 20:41] WrinklyNinja commented on #22
This seems to technically not be a bug, as the reason it's happening is because the anchor for `*dirtyUtil` is on one line and the string value is on the next. While this works for map anchors, the string's a scalar and the only examples in the YAML spec show the anchor sitting on the same line as the value, so it seems like the parser only accepts it when scalar values and their anchors sit on on

[2015-10-15 20:41] #22 closed

[2015-10-25 09:21] Freso commented on #31
My comment was more directed at the incredibly broad stated scope of the issue: add `url` entries to all mods in all the masterlists. This is a pretty monumental task, and I don't think any one volunteer will go and do all entries in all masterlists at one time. If we really want a "Add URLs for each listed mod" issue, I would suggest making one in the respective masterlist issue trackers, instead

[2015-10-25 09:32] Freso opened #46 ""blue and purple backgrounds" = blue backgrounds"
Looking at https://loot.github.io/credits/, I only see blue backgrounds for (public) team members, not purple ones for @WrinklyNinja and myself (the third admin currently has their team membership set to private).

Maybe it's my browser messing with the page (Firefox 41.0.2 on Linux) or my display being weird (old laptop LCD doesn't always distinguish well between colours), but maybe it's that rig

[2015-10-25 10:26] WrinklyNinja commented on #31
Perhaps what would be more helpful would be a style checker that encodes all the info on the Masterlist Editing wiki page and also checks for things like URL data?

[2015-10-25 10:40] WrinklyNinja commented on #46
Yeah, the logic is currently broken, and I think with GitHub's recent
organisation shake-up (which may have done the breaking...) the distinction
isn't as useful any more as there's more transparency anyway.

[2015-10-25 18:27] WrinklyNinja commented on #46
In fact, I think I'll get rid of the member highlighting altogether. If anyone wants to know, they can see the list [here](https://github.com/orgs/loot/people) after all.

[2015-10-25 18:29] #46 closed

[2015-11-02 02:45] koumdros opened #47 "Search not working conistently"
I've been having this issue since level 8,0 and it is the same with 8.1

Usually if i try to search for a term ( usually a word contained within an eps's name ) it sometimes finds the first instance of that word, and doesnt find anything else, or doenst actually seem to do anything.

Sometimes the right hand panel ( with the esp modules) seemingly refreshes, but the reults dont actually have the w

[2015-11-02 15:11] WrinklyNinja commented on #47
Closing this as invalid, as the issue should be tracked in the code issue tracker. I'll reply in the replacement issue linked above.

[2015-11-02 15:11] #47 closed

[2015-12-16 20:53] tornocean opened #48 "Loot Failed"
exit code 3221225477. Do you know what this means?

[2015-12-16 21:06] WrinklyNinja commented on #48
No. Please [provide debug logs](https://github.com/loot/loot.github.io/wiki/How-To-Report-Issues-Helpfully).

[2015-12-22 09:17] 7934345 opened #49 "Fallout 4 Support?"
any news about fallout 4?

[2015-12-22 09:21] Freso commented on #49
Duplicate of https://github.com/loot/loot/issues/504 and filed in the wrong tracker.

[2015-12-22 09:21] #49 closed

[2016-02-04 19:50] pStyl3 commented on #48
I googled that code, these were the two first results:
[APACHE Crashing: Parent: child process exited with status 3221225477 — Restarting](http://stackoverflow.com/questions/10306272/apache-crashing-parent-child-process-exited-with-status-3221225477-restarti)
[Exited with return value 3221225477](http://stackoverflow.com/questions/25679028/exited-with-return-value-3221225477)

Then I searched for

[2016-03-29 08:44] WrinklyNinja opened #51 "Make wiki hosted as part of the LOOT site"
The separation of some information as pages in the wiki and other information as pages in the website is pretty arbitrary, and confers no advantages. It would be better for consistent look 'n' feel at least if the wiki pages were made part of the website.

Things that need to be done:

- [x] Move wiki pages into the website repository
- Update links to point to the website instead of the wiki in:

[2016-03-29 08:55] Freso commented on #51
Did you already start work on this? If not, this is something I can try and poke at. :)

[2016-03-29 09:59] WrinklyNinja commented on #51
No, I've not started it and probably won't get round to it this week, so
feel free to create a new branch and give it a go.

On Tue, 29 Mar 2016, 09:55 Frederik “Freso” S. Olesen, <
notifications@github.com> wrote:

[2016-04-07 16:37] WrinklyNinja commented on #51
@Freso have you done anything with this?

[2016-04-07 17:44] Freso commented on #51
I started poking at it, yeah, and then I got distracted. :)

[2016-04-07 17:44] Freso commented on #51
I want to do things the "hard" way to maintain history from the wiki, which means that the initial setup of porting over the articles is probably the hardest part of it.

[2016-04-07 18:28] WrinklyNinja commented on #51
Yeah, that is tricky. If you do that, you'll need to rewrite file paths. While the wiki has a flat structure, the site would be better organised with the pages in folders: do you have any ideas for this?

I was thinking something along the lines of having `/docs/contributing/` holding the pages under the sidebar's "Contributing" heading and `/docs/team/` holding the pages under the "Team" heading.

[2016-04-07 18:31] Freso commented on #51
I was thinking to first do a merge to bring the two repositories together, leaving the wiki pages in a /wiki/ or /docs/ subdir and then follow up with additional commits `git mv`'ing the pages to the proper locations (incl. filenames) and then additional commits after that if they need additional edits for tidying up.

[2016-04-07 18:35] WrinklyNinja commented on #51
Sounds good to me.

[2016-04-08 17:37] WrinklyNinja commented on #51
I merged and mv'd the wiki in my local repository, and I've found that Jekyll won't turn Markdown into HTML unless it's a file in the `_posts` subdirectory, which is only really suitable for blog posts (they must be dated in the filename, and a few other restrictions).

This makes things inconvenient, as it means the wiki pages will need converting to HTML, but I think having everything in one pla

[2016-04-09 09:56] WrinklyNinja commented on #51
I used Pandoc to convert the Markdown files to HTML, and pushed a `merged-wiki` branch with these converted wiki pages.

Some styling changes need to be made to ensure they look good (headings are too large, monospaced text needs a different background to help distinguish it, etc.), and navigation links to the new pages need to be added.

[2016-04-09 13:09] WrinklyNinja commented on #51
Right, I've pushed the changes I mentioned were needed above. I've noticed some content is outdated, so that should be updated, and improving the readability of the auto-generated HTML would be useful.

[2016-04-09 21:28] damnsalvation opened #53 "Masterlist won't update if user temp folder changed"
I had the user environment TEMP and TMP variables set to G:\UserTemp\Local\Temp
Opened loot to order skyrim, which I had just reinstalled.  Tried to update masterlist, got a filesystem access error.  Forget the exact error, but it was a 'could not modify' listing directories:
      C:\Users\...\LOOT\skyrim
      G:\UserTemp\Local\Temp\{random}

procmon showed LOOT.exe tried to open G:\UserTemp\Loc

[2016-04-09 21:29] damnsalvation commented on #53
Oh, all permissions are/were correct.

[2016-04-10 07:39] WrinklyNinja commented on #53
Could you please re-file this [here](https://github.com/loot/loot/issues)? This issue tracker is for the site and meta issues, keeping application issues in its code repository helps keep everything organised.

[2016-04-10 07:45] WrinklyNinja opened #54 "Add CONTRIBUTING.md"
It's not uncommon for users to misfile issues relating to a masterlist or the LOOT application in this issue tracker, and adding a CONTRIBUTING.md file that contains instructions on where issues should be filed (or better, links to the How To Report Issues Helpfully page) could help with that.

I'd like to hold off doing this until the wiki pages have been moved into the site (#52), as otherwise t

[2016-04-11 23:01] damnsalvation commented on #53
Oops!

On Sun, Apr 10, 2016 at 3:39 AM, Oliver Hamlet <notifications@github.com>
wrote:

[2016-04-12 20:59] WrinklyNinja commented on #51
All that remains is for the wiki to be disabled in this repository's settings: that should be done after v0.9.0's release, because there are some readme links in v0.8.1 that link to the wiki.

[2016-04-12 21:00] WrinklyNinja commented on #53
Re-filed as loot/loot#561, so closing this.

[2016-04-12 21:00] #53 closed

[2016-04-12 21:01] WrinklyNinja commented on #48
Closing this as invalid. If the issue happens again, please file an issue in the loot/loot repository [issue tracker](https://github.com/loot/loot/issues).

[2016-04-12 21:01] #48 closed

[2016-04-12 21:12] WrinklyNinja commented on #54
Closed by 5589162dcf64fd46f096e49147868fdd09ad527e.

[2016-04-12 21:12] #54 closed

[2016-05-12 07:08] Ortham opened #55 "Add mechanism for providing details/resolution message to incompatibilities"
@LOOT

At the moment, incompatibility metadata generates messages of the form `This plugin is incompatible with X, but both are present.`

Using the `display` key, a mod name or any other Markdown text can be used instead of the name of the plugin checked for, but while that's helpful for requirement messages (you can supply a link to the required mod that way), it's not so helpful for incompatibi

[2016-05-21 17:46] WrinklyNinja commented on #51
The wiki has been disabled, so closing this.

[2016-05-21 17:46] #51 closed

[2016-05-22 02:33] doublet3 opened #56 "Error Code -1"
I just installed LOOT for my skyrim plugins. I tried to get it to load but the error: "Error code: -1; Invalid game ID supplied." kept popping up. I read the information thing but I must have missed something. Plaese help me and try and fix my problem.
 Thanks

[2016-05-22 02:39] #56 closed

[2016-06-05 13:41] pStyl3 opened #57 "Improve readability of the FAQs"
The readability of the [FAQs](http://loot.github.io/docs/help/LOOT-FAQs.html) could be improved, so that each question is more distinguishable from the others.

I would suggest to increase the size of the three main headings "Moving From BOSS", "Using LOOT" and "Common Issues", and/or to underline them. Displaying them in another font/color could also help in order to highlight them better,

It al

[2016-06-05 13:50] pStyl3 opened #58 "Update "LOOT's window is blank when I'm starting it through Mod Organizer. What's up?""
Currently the answer given in the FAQs is:

I would suggest to rephrase the answer to:

In case that LOOT's window is displayed blank if run through Mod Organizer, update both LOOT and MO to the latest versions, which should fix the problem. In the unlikely case that you still experience this issue, start LOOT with the following command line argument:
--single-process

[2016-06-22 19:47] pStyl3 commented on #58
Since the question got updated, this issue can be closed.

[2016-06-22 19:47] #58 closed

[2016-11-11 08:17] TooManyAccounts opened #59 "Win 10 LOOT 0.10 windows installer wants to reboot PC"
The windows installer  for LOOT 0.10 tries to reboot your machine after the install completes. If the reboot prompt is dismissed,  LOOT works fine.

Loot Version: Version 0.10.0 (build 7b97241)
Reproducibility:  Always
OS Name: Microsoft Windows 10 Pro
Windows Version: 10.0.10586 Build 10586

EDIT: added exact LOOT build

[2016-11-11 08:26] WrinklyNinja commented on #59
Duplicate of loot/loot#692.

[2016-11-11 08:26] #59 closed

[2017-04-07 16:51] WrinklyNinja commented on #21
3 years later, this still hasn't gotten any more feasible, so closing as wontfix.

[2017-04-07 16:51] #21 closed

[2017-04-08 16:06] #57 closed

[2017-06-25 15:25] Freso commented on #55
How would this function differently than `msg` entries in practice?

[2017-06-25 15:47] WrinklyNinja commented on #55
Well, it would simplify the condition (since `msg` conditions would have to check for `foo.esp` and `foo patch.esp`), and make incompatibility handling more uniform.

[2017-06-25 15:56] Freso commented on #55
The example in the original message still checks for `foo patch.esp` though, which might be why I'm not seeing the great benefit… :)

[2017-06-25 15:57] WrinklyNinja commented on #55
Yeah, it is limited in that way...

[2017-06-26 14:56] Kaenguru-Knobel-Kette commented on #55
LOOT currently lacks metadata for these kind of incompatibilities. E.g. if I decided to add Cutting Room Floor to my load order why would I know that I have to reinstall Relationship Dialogue Overhaul (RDO) to grab the patch as that's only mentioned on the mod page of RDO? (Well **I** know because I'm a patch maker but the average user certainly doesn't.) The same applies to many other mods like I

[2017-07-06 14:03] Freso opened #60 "@Kaenguru-Knobel-Kette breaks credits page :)"
@Kaenguru-Knobel-Kette's listing on https://loot.github.io/credits/ is broken:
![billede](https://user-images.githubusercontent.com/177659/27914846-b144afd2-6264-11e7-8ccd-33912491c8fe.png)

[2017-07-06 14:16] Freso opened #61 "Relicensing the masterlist files/repositories"
I was thinking about our masterlists. They're really mostly objective data, which is not copyrightable data per se (which makes copyright-based licenses not apply), but due to their nature of being compiled and some parts being more subjective, I guess there is some case for them having copyright. However, I feel like we should encourage as wide use of the masterlists as possible, which the GPL so

[2017-07-06 14:20] WrinklyNinja commented on #60
Darn, I'll take a look at it.

[2017-07-06 14:33] WrinklyNinja commented on #61
I agree with encouraging wider usage, and I do acknowledge that the GPL can hinder that, but I'm not aware of any projects that could use the masterlists but don't because of licensing.

I'm OK with any of your suggested licenses, I tend to use CC0/MIT/GPL for my projects, depending on personal importance. I think for the masterlists a CC license makes more sense than a software license.

If you r

[2017-07-06 20:42] WrinklyNinja commented on #60
Fixed in a06cf6b5bf1e5705eadcba05f56c4bdfca6da690.

[2017-07-06 20:42] #60 closed

[2017-07-08 23:41] Freso commented on #61
@MaddBomber83 asks

No. This change does not allow *us*, the LOOT team, to do any more or any less than what we currently do. All(?) LOOT (related) code is GPL3, so the masterlists also being GPL3 (as they are now) has no effect on anything else in LOOT, nor would it affect any future thing "LOOT" would want to do with them, as that would still most likely be "GPL v3 (or later)", and thus same lic

[2017-07-26 15:48] Freso commented on #55
Okay, I'm slowly being won over by this. Would this work with multiple `inc: … - name: 'ESFCompanions.esp'` entries? See e.g., https://github.com/loot/fallout4/blob/9239c216fdcfca73d5fee09753a8da26ba046237/masterlist.yaml#L1907-L1921 where `DEF_WIDGETS_SURVIVAL1.esp` is incompatible with both `EveryonesBestFriend.esp` and `EveryonesBestFriend.esp` which are additionally incompatible with each othe

[2017-07-26 16:41] WrinklyNinja commented on #55
Well, that's a pretty non-optimal case, I'd probably have an inc entry for each plugin linking to their patch, and then have a message that is displayed when both are present and their combination patch isn't, that links to the combination patch.

[2018-02-25 10:21] alegenyas opened #62 "For help? How to fix?"
LOOTDebugLog
[15:18:48.815860] [warning]: Chromium console message: Styling master document from stylesheets defined in HTML Imports is deprecated, and is planned to be removed in M65, around March 2018. Please refer to https://goo.gl/EGXzpw for possible migration paths.
[15:18:48.878260] [warning]: Blocking load of resource at https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400

[2018-02-25 10:22] alegenyas opened #63 "No masterlist present"
LOOTDebugLog
[15:18:48.815860] [warning]: Chromium console message: Styling master document from stylesheets defined in HTML Imports is deprecated, and is planned to be removed in M65, around March 2018. Please refer to https://goo.gl/EGXzpw for possible migration paths.
[15:18:48.878260] [warning]: Blocking load of resource at https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400

[2018-02-25 10:47] WrinklyNinja commented on #63
Have you tried updating your masterlist?

[2018-02-25 10:48] WrinklyNinja commented on #62
Please don't spam the issue tracker. Duplicate of #63 (or vice-versa, but I saw that first).

[2018-02-25 10:48] #62 closed

[2018-02-25 13:17] #63 closed

[2018-04-07 11:26] pStyl3 opened #64 "Improve wording of docs/contributing/Masterlist-Versioning.html"
Given that the masterlists are currently on the v0.10 branch, with the v0.13 branch on the horizon, the wording of the above quote seems a bit out of place (talking about v0.9 in future tense, for example). It would be great to have this updated, or generalized in some way or another.

[2018-04-07 13:14] #64 closed

[2018-04-09 16:55] pStyl3 opened #65 "Improve docs/contributing/Masterlist-Editing.html"
BethSoft should probably be replaced with AFK Mods.

SSE, Fallout 4 VR and Skyrim VR should also be mentioned.

[2018-04-09 19:11] #65 closed

[2018-08-01 17:29] Freso commented on #61
I've made issues for all the masterlist projects now:
- [ ] [TES4: Oblivion](https://github.com/loot/oblivion/issues/24)
- [ ] [TES5: Skyrim](https://github.com/loot/skyrim/issues/1960)
- [x] [TES5: Skyrim SE](https://github.com/loot/skyrimse/issues/34)
- [ ] [Fallout 3](https://github.com/loot/fallout3/issues/81)
- [ ] [Fallout: New Vegas](https://github.com/loot/falloutnv/issues/40)
- [x] [Fallo

[2018-08-03 09:16] Freso commented on #61
Of the e-mail addresses dug up by @WrinklyNinja of BOSS contributors not found on GitHub, 5 e-mail addresses seem to no longer exist (`<marklonn at gmail.com>`, `<wyll at live.de>`, `<jpearce at pacific.net.au>`, `<simon888 at cox.net>`, and `<venkukad at gmx.de>`) and one doesn't have an address specified ("deaths_soul (MCP)"). That means there are at least 6 contributors we won't be able to reac

[2018-08-03 10:07] WrinklyNinja commented on #61
[This authors mapping](https://github.com/boss-developers/boss-developers.github.io/wiki/Moving-from-SVN) I'd forgotten I wrote shows:

- marklonn is Malonn (still active on Nexus)
- wyll is @noxwyll
- simon888 is Psymon (I don't know if he's still active anywhere)

[2018-08-03 11:35] noxwyll commented on #61
@WrinklyNinja Am active on nexus in fallout 4 and skyrim. Skyrim (Gothic Project) and Fallout 4 (Weapon Mod Project). Anyways my actual nexus name is iyumichan, I organized and for the majority of the time lead the Mission Mojave project.

[2018-08-03 12:09] Freso commented on #61
I'm guessing that deaths_soul is @deathssoul and venkukad is @KadVenku?

[2018-08-03 13:07] Freso commented on #61
@TokcDK confirmed that menduki is a previous e-mail alias of theirs here: https://github.com/loot/skyrim/issues/196#issuecomment-410246782

[2018-08-03 14:09] KadVenku commented on #61
@Freso You are correct, that's an old e-mail address of mine.
In any case, you have full permission to do whatever you deem necessary with my BOSS contributions.

[2018-08-03 17:21] Vacuity729 commented on #61
@Freso You have my permission to make the license changes.  If the masterlists become more useful that way, I'm all for it.  I'll send you an email in a sec to confirm that I'm not a random person pretending to be an old contributor.
@WrinklyNinja Yo!  Long time, no see!  I hope you're doing well!

[2018-08-03 19:07] spaceoden commented on #61
All for it. How the client developers license their work is their business, but the masterlist was always a public project. I can think of no reason to restrict it.

[2018-08-10 20:48] WrinklyNinja opened #67 "Move AppVeyor builds to the new LOOT account"
We now have a separate account for [LOOT on AppVeyor](https://ci.appveyor.com/project/LOOT/), with me and Freso as admin collaborators, so we should move LOOT's builds over to it as AppVeyor only allows once build at a time for OSS projects, and it would be better for LOOT if it doesn't get blocked on my personal repos building.

This will probably mean the secure variables in the appveyor YAML fi

[2018-08-10 20:50] WrinklyNinja opened #68 "Fix broken access for deleting old builds on Bintray"
For some reason deleting old builds on Bintray from the AppVeyor build broke when we moved to the new LOOT Bintray org, even though the same key is used to upload artifacts.

[2018-08-12 19:56] WrinklyNinja commented on #68
This is happening because the auth header in the delete request is using the `-u` parameter value as the username to authenticate as, as well as the user that owns the repository/package/version to delete.

I'll have to update the script to separate those out.

[2018-08-12 22:24] WrinklyNinja commented on #68
Fixed, closing this.

[2018-08-12 22:24] #68 closed

[2018-08-12 22:25] WrinklyNinja commented on #67
Done, closing this. Encrypted vars had to be regenerated as they were account-specific.

[2018-08-12 22:25] #67 closed

[2018-09-05 17:34] Freso opened #69 "Link to "Tome of xEdit" instead of CreationKit wiki for xEdit cleaning guide?"
We currently link to ["TES5Edit Cleaning Guide - TES5Edit" on the CreationKit wiki](https://www.creationkit.com/index.php?title=TES5Edit_Cleaning_Guide_-_TES5Edit) for guidance on how to clean "dirty" plugins. Recently @Sharlikran has been working on making [Tome of xEdit](https://tes5edit.github.io/docs/) the official comprehensive documentation for xEdit, and it has a section for ["Mod Cleaning

[2018-09-05 17:40] WrinklyNinja commented on #69
I think it makes more sense to link to TES5Edit's own docs for instructions on how to do something with TES5Edit. If the cleaning bit of those docs isn't as accessible to mod users, that's a chance to improve them, as it'll benefit more than just our users.

[2018-09-05 22:33] Izen-san commented on #69
The primary question is where to point people for the documentation.  This should be the "Tome" because it incorporates the latest developments.  Due to the nature of the web, older docs are going to remain around anyway; but people need to be made aware of the need for the current, updated docs.

The secondary question is regarding the "Cleaning Guide".  This has been an evolutionary process.  Ba

[2018-09-06 08:58] Sharlikran commented on #69
The current page for cleaning does have places where it recommends that mod authors clean their own mods.

The tome is the Fallout Training manual with updates to make it more current.

I am not against changing any of the wording that Miax and Justin had where it started that you should not clean other people's mods. More or less that mod authors should do it. However, I dont know how to word it

[2018-09-07 02:11] Sharlikran commented on #69
- [Credits added](https://tes5edit.github.io/docs/index.html)
- [Preface added](https://tes5edit.github.io/docs/5-mod-cleaning-and-error-checking.html)

[2019-02-15 15:30] pStyl3 opened #70 "Mention "TES V: Skyrim VR" in "index.html""
It appears the file currently doesn't mention Skyrim VR. I would suggest to insert it inbetween SSE and Fallout 3.

[2019-02-16 12:04] Ortham commented on #70
Fixed, thanks.

[2019-02-16 12:04] #70 closed

[2019-05-19 10:16] pStyl3 opened #71 "Update LOOT-FAQs.html"
Within the "Using LOOT" section we still reference priority values, instead of groups.
`Priority values can be used when the plugin needs to load before or after many other plugins.`

Furthermore, the file references a readme that doesn't exist in that form.
`Be sure to read LOOT's readme for more information on these.`

The readme reference should probably be changed to mentioning the application

[2019-05-20 05:53] Ortham commented on #71
Done in b4c58251e7834cbacd3c1436d25adc256a593ead, thanks for noticing that.

[2019-05-20 05:53] #71 closed

[2019-07-25 20:42] CurusKeel commented on #31
Forgot that this was still open. Not a huge, deal-breaking issue. Most new additions to the LOOT masterlist also bring along the URLs of the mod anyway. Closing.

[2019-07-25 20:42] #31 closed

[2020-09-04 21:25] pStyl3 opened #78 "Simplify quickClean message"
`&quickClean`

A lot of time has passed since @ElminsterAU introduced the new QAC process to clean plugins. I think that the message could be changed to something more generic and that it may no longer be important to indicate that QAC may find more than the old process of cleaning plugins. QAC is the de facto standard now. So the question is, what should we change it to?

For reference, the old `

[2020-11-15 17:15] MacSplody opened #72 "Incorrect path for Help docs"
![image](https://user-images.githubusercontent.com/1944639/99191627-b2cea780-2765-11eb-8fc0-3b0eb578b81e.png)

Links on page https://loot.github.io/docs/help/
Help is included twice in the links.

https://loot.github.io/docs/help/help/LOOT-FAQs.html

[2020-11-17 17:19] Ortham commented on #72
Fixed in 1f1d72b78cf0d87cd5f0071953945acac216d649.

[2020-11-17 17:19] #72 closed

[2021-03-01 11:50] sibir-ine opened #73 "Inline single-entry lists"
I've noticed that throughout most of the masterlists, there are quite a few lists that have only one entry that isn't inline. Here's an example from the SSE masterlist:

[code]

The `after` can be rewritten as:

[code]

It's not a big deal, but it's definitely tidier that way; it's also done in most masterlists most of the time where applicable, so it's also worth doing for the sake of consistency

[2021-03-05 14:17] sibir-ine commented on #55
I know this issue's a bit old, but I think it could be useful to be able to substitute a message alias into the `detail` key.

At the moment, if we want to convey that two plugins are incompatible & why, we add an `inc` entry & a message like `patchProvided`, `patchUnavailable`, `compatIssuesWithX`, etc. I think it'd be a bit clearer to the user that the details or solution provided are in referen

[2021-03-06 00:16] #73 closed

[2021-03-09 17:29] Ortham commented on #55
@sibir-ine Could you give a couple of before / after examples to demonstrate the improvement?

[2021-03-09 19:46] sibir-ine commented on #55
@Ortham Sure. I think the benefit is more obvious with an entry with multiple incompatibilities & messages, such as `Immersive Horses.esp` from the SSE masterlist. Right now, it looks like:

[code]

But with the `detail` key, it could look something like:

[code]

If multiple of these messages showed up with the current method, it would look like:

[code]

But with the `detail` key, it could look

[2021-03-10 18:49] #69 closed

[2021-03-15 05:01] sibir-ine opened #76 "Refactoring masterlist messages"
# Preface
This issue will keep track of message refactoring across all masterlists. It's important to refactor messages to reduce redundancy, keep messages centralized, & give translators less work to do.

# Global Messages
- [x] Consolidate similar global messages across masterlists

## Various `requires*SE` anchors
- [x] Move localized contents to corresponding `globals` nodes
- [x] Remove vario

[2021-03-20 17:06] sibir-ine opened #77 "Localization"
Opening this to broadly keep track of localization across all of the masterlists & the program itself. loot/skyrimse#646 & loot/loot#1437 fall under this.

@pStyl3 has created a spreadsheet that comprehensively keeps track of localization for the masterlists & is also a tool for translators to easily access all aliased/global masterlist messages & translations in one centralized, up-to-date docume

[2021-03-20 17:54] sibir-ine commented on #77
@ThePotatoChronicler Would you be interested in updating the Czech localization as well as localizing the masterlists?

@Freso Would you be interested in doing the same for Danish?

@Sharlikran Would you be interested in doing the same for Spanish?

@3ventic Would you be interested in doing the same for Finnish?

@cpasmoi Would you be interested in doing the same for French?

@steamb23 & @sean-kan

[2021-03-20 17:56] sibir-ine commented on #77
@ironmagician Would you be interested in updating the Portuguese localization for the masterlists?

@TokcDK Would you be interested in doing the same for Russian?

[2021-03-20 18:00] sibir-ine commented on #77
@kuroko137 & @tktk11 Would you two be interested in doing the same for Japanese?

[2021-03-21 02:02] ironmagician commented on #77
Sure, I downloaded the spreadsheet. Should be done before the next weekend.

[2021-03-21 02:37] sibir-ine commented on #76
@MacSplody @pStyl3 For `&incWithPatchVersionX`, maybe we can replace it by using a combination of an `inc` `plugin` key & a `display` `file` key?

`&incWithPatchVersionX` is as follows:
[code]

& is currently only substituted with `Fallout 4 Patch 1.5.157.0`.

However, we could use `inc` & `display` keys like so:
[code]

to display a message like:
[code]

Do you guys think this message would conve

[2021-03-21 02:56] sibir-ine commented on #77
@ironmagician Thank you so much! Just FYI, I added instructions on how to use the spreadsheet in the issue description. I'll quote it here as well:

[2021-03-21 03:42] MacSplody commented on #76
Yeah, it might be okay, the only odd part might be the ", but both files are present.".

[2021-03-21 03:46] sibir-ine commented on #76
Yeah, @Ortham mentioned rewording that part in #55. Something like this might be all the more reason to reword it.

[2021-03-21 21:13] sibir-ine commented on #77
@ironmagician The template file was recently updated (in loot/loot@185db1726b453957885dcf16811d0b261a5d413c), so there are 6 new/updated strings that need translating for the program. Could you please update these as well?

@RacerBG Could you please do the same for Bulgarian?

[2021-03-21 21:15] RacerBG commented on #77
No problems, I will do it tomorrow though. :smiley:

[2021-03-21 21:17] sibir-ine commented on #77
No problem at all, take as much time as you need!

[2021-03-22 01:50] sibir-ine commented on #76
@MacSplody @pStyl3 For `&incompatibleWithWeatherMods` (TES4) & `&incWeatherImageSpace` (FNV), should we merge these & keep the new alias? Or should we replace them with incompatibilities for a couple of popular weather mods for each mod using them? Combined, they're both only used 11 times (6 in TES4, 5 in FNV). Considering we don't provide blanket statements on incompatibilities anywhere else, I

[2021-03-22 08:03] sibir-ine commented on #77
@ironmagician @RacerBG I've added this message to the masterlist:

`Requires resources (e.g. meshes, textures; not plugins) from %1%.`

Can you guys please provide translations for it as well when you have the chance?

[2021-03-22 08:27] RacerBG commented on #77
@sibir-ine This project is getting quite active and by the way, thanks to LOOT yesterday I discovered a patch which was missing in my load order for Skyrim SE. Excellent work, everyone!

"Изисква ресурси (триизмерни модели и текстури, без приставки) от %1%."

[2021-03-22 14:08] MacSplody commented on #76
Replacing them with an incompatible list would work.
People do have a habit of using these types of mods together despite being told.
&compatIssuesWithX and &compatNotes would be fine as well,
But it depends on them having compatibility notes we can link.

[2021-03-23 17:08] sibir-ine commented on #77
@ironmagician I'm assuming you downloaded the spreadsheet from Discord, so I just want to let you know that we added a **Translator** role in case you want to register for it in the **role-registration** channel. That way, we can notify you when we need translations more easily. Also, we may add a bot soon that will allow you to add or remove the role whenever you want via a command.

[2021-03-25 22:42] sibir-ine commented on #76
@Ortham @MacSplody @pStyl3 Considering that the `file` structure has a `display` key that an `inc` key can utilize to print things other than file names, I think we probably should reword the incompatibility message. I think it'd be enough to just remove the word "files" (i.e. `This plugin is incompatible with X, but both are present.`), but it'd be good to look at some other ideas & consider any

[2021-03-27 18:39] sibir-ine commented on #77
@RacerBG Can you please translate this message when you get the chance?

`This plugin is a modding resource and should not be used in-game.`

[2021-03-28 08:45] RacerBG commented on #77
@sibir-ine Of course! I saw it earlier in a commit and I though that this is coming. :smile:

"Тази приставка е ресурс за модифициране и не трябва да се използва по време на игра."

[2021-03-28 08:50] sibir-ine commented on #77
Lol yup, thanks for the translation!

[2021-03-29 03:36] sibir-ine commented on #77
@C0rn3j I believe you discussed this in the Discord a while ago, but would you be interested in updating LOOT's Czech localization?

[2021-04-02 15:23] sibir-ine commented on #76
@MacSplody @pStyl3 What do you guys think about the global "Dynamically Created Plugin" message in the SLE masterlist?

Here it is for reference:
[code]

We already have load rules for the mods it references (a few of which are outdated & have been superseded IIRC), so maybe we don't need it? Though, we could repurpose it to check for more dynamic patches instead.

[2021-04-02 19:17] pStyl3 opened #79 "Update FAQs"
loot.github.io/docs/help/LOOT-FAQs.html

**I'm getting Git errors when LOOT tries to update its masterlist. How do I fix this?**
[...]
Alternatively, your WinSock configuration may be corrupt: this can be fixed using the instructions here and here, or there's a fix-it utility here.
[...]

Behind the 3 `here`'s are the following links:
`https://support.microsoft.com/kb/817571`
`https://support.micr

[2021-04-03 02:25] sibir-ine commented on #79
The first 2 links don't appear to exist anymore in Microsoft's current support database. The closest is [this article](https://support.microsoft.com/en-us/topic/how-to-determine-and-to-recover-from-winsock2-corruption-in-windows-server-2003-in-windows-xp-and-in-windows-vista-a6663bfa-40d1-ead7-d790-7869ee9448e7), but I'm not familiar with the issue; I don't know if the solutions there apply.

No c

[2021-04-03 12:40] Ortham commented on #79
I can't remember what the winsock fix actually was, but the article linked to by @sibir-ine isn't ringing any bells. The source issue is https://github.com/loot/loot/issues/352, which is from 2014, so I think it would be better to just to drop the line about WinSock.

[2021-04-05 08:10] RacerBG commented on #77
@sibir-ine This one?

[code]

[2021-04-05 09:15] sibir-ine commented on #77
@RacerBG Thanks!

[2021-04-06 12:51] #79 closed

[2021-04-06 13:00] sibir-ine commented on #79
Done. Fixed a few typos & updated some other things I caught as well.

[2021-04-09 19:01] sibir-ine commented on #77
@RacerBG 2 strings in LOOT got updated & a (not really) new masterlist message got added recently, so can you please translate them when you get the chance?

The message: `If you add, remove, or update plugins that alter WRLD/CELL records, remember to update this module with **xLODGen**.`

[2021-04-10 08:11] RacerBG commented on #77
Here you go:

`Ако добавите, премахнете или обновите приставки, които променят записите WRLD и CELL, трябва да обновите този модул с **xLODGen**.`

[2021-04-10 09:15] sibir-ine commented on #77
@RacerBG Awesome, thanks!

[2021-04-11 15:28] Ortham commented on #61
Considering that the list of contributors is probably still growing and that some existing contibutors are probably not contactable (and so we'll probably never be able to relicense some masterlists), does anyone know if it's possible to use a new license for only new contributions, and document that contributions made before YYYY-MM-DD are licensed under the GPL, and contributions made after that

[2021-04-11 16:03] sibir-ine commented on #61
Yeah, I think, going forward, it'd be for the best that we ask new contributors to take a look at this issue before we can merge their changes.

I think this is inevitable. I want to try to pick up the issue from where @Freso last left it & try to reach out to whoever I can, however I can. If, after that & some time (maybe a few months), there are still some people left, I'd personally rather we g

[2021-04-12 03:25] NickDickinsonWilde commented on #61
@sibir-ine got your dm, thanks for reaching out. I'm 100% good with re-licensing any of my prior contributions to the BOSS/LOOT/etc load ordering lists to CC0. Thanks also for taking on maintainership!

[2021-04-12 07:51] sibir-ine commented on #61
@NickDickinsonWilde Thanks for responding! & of course, it's a project I feel is invaluable for making modding easier & more accessible to people around the world, so I'm happy I can be a part of keeping that alive & well!

[2021-04-14 07:29] sibir-ine commented on #61
Just realized that the Contributors tab in Insights doesn't list people whose GitHub accounts no longer exist, so we've probably missed some people (confirmed for FNV). We'll have to use `git shortlog` for the remaining LOOT masterlists to double-check. @Ortham, I'm assuming that's what you did to get the list of BOSS contributors, right? If so, this just applies to the LOOT masterlists.

[2021-04-14 08:04] RacerBG commented on #77
@sibir-ine  Actually, I found 2 strings which are currently missing Bulgarian translation (due to the recent changes in the Oblivion masterlist). If there are more, please, let me know as always. :smiley:

[code]

[2021-04-14 08:05] sibir-ine commented on #61
There's also the issue of the older branches. Since most of the people that probably won't respond will be from BOSS, they're contributions will be in all the old branches. Since they're seldom used & aren't actively maintained, I think it'd be for the best if we just removed their contributions from those branches as opposed to carrying over our clean-room reimplementations to them. I don't think

[2021-04-14 08:09] sibir-ine commented on #77
@RacerBG Sorry about that, `%1% version.` got replaced with `Language: %1%`, so Bulgarian was just missing the one. Thanks!

[2021-04-14 09:17] Ortham commented on #61
Yes, that's what I did for BOSS.

[2021-04-14 09:27] sibir-ine commented on #61
Ah, I thought it'd affect all branches. Yeah, unless someone can come up with a good reason to relicense the older branches as well, let's just leave them.

[2021-04-14 15:37] silentdark commented on #61
You have my permission, masterlist is not software, you can change the license to CC0.

[2021-04-14 17:23] sibir-ine commented on #61
Thank you so much for responding!

[2021-04-14 20:25] sibir-ine commented on #61
Ok, added everyone that was missing along with their GitHub accounts if I could find them.

[2021-04-17 09:28] sibir-ine commented on #61
I just realized another issue: what about people who've provided translations to the non-CC0 masterlists that we committed on their behalf? For stuff like users pointing out or providing metadata like cleaning data or load rules that we then add, I think it's fair to say that that isn't their copyright & we therefore don't need their agreement. However, for things like translations, that seems lik

[2021-04-17 09:58] Ortham commented on #61
I think that would be going a bit too far and creating a problem where none exists in practice. I question if the translations qualify as something copyrightable, but even if we assume they are, very few translators are committing to the masterlist repositories themselves, putting the others in the same position as the innumerable people who have provided the LOOT team with information to put into

[2021-04-17 10:06] TsunaMoo commented on #61
As a previous Localization Specialist I can tell you that translations are definitely under copyright.
Different question tho, when people contribute do they agree to any form of agreement?
If not that might at least be a good idea for the future.

And honestly this is a collection of data, can that even be under copyright?
Wouldn't the mechanics itself be the copyrighted part?
And would anyone ha

[2021-04-17 10:16] sibir-ine commented on #61
For people who provide us with information, I think that situation is different. Since we commit the information, the specific implementation & therefore copyright comes down to us. If they provided something like a specific message that we copied verbatim, then I would assume that'd be their copyrighted material that they provided to us that falls under the license of the specific masterlist it w

[2021-04-17 10:20] Ortham commented on #61
I understand that being the case for significant chunks of text, but if I asked you what the word for "error" is in German and you replied with "Fehler", how is that any different from me just looking it up in an English-German dictionary? There's no originality or creativity in what you'd have done in answering me, you'd have effectively just read from the English-German dictionary you keep in yo

[2021-04-17 10:25] TsunaMoo commented on #61
No, stuff that's just single words from dictionary is surely not copyrighted, also copy paste stuff where you just swap subject and object text also unlikely are under copyright.

[2021-04-17 10:27] Ortham commented on #61
OK, thanks for clarifying.

[2021-04-17 10:28] TsunaMoo commented on #61
It should be sufficient to make a request to change license, give time for people to say no, if that doesn't happen after a month, should just proceed. Then you gave the time for objections which should be reasonable and sufficient.

The main reason for translation copyright is because your own creativity and interpretation flows into it.

[2021-04-17 10:29] sibir-ine commented on #61
That's the gray area. If we only asked them to translate a single word, we'd be able to argue that that isn't their copyright. But we ask them to translate phrases & sentences, & there are definitely different & unique ways to translate them that may pass for originality.

[2021-04-17 10:32] sibir-ine commented on #61
Unfortunately, we can't assume everyone will have seen it & silently agreed if they don't respond. We will proceed regardless (probably in a few months), but we'll just have to reimplement or remove the contributions of people who never responded.

[2021-04-17 10:34] TsunaMoo commented on #61
Yes but there is a legal example for this stuff, as long as this request is easy to view and public this plan should be able to proceed as long as no objections happen because it can be assumed that everyone had at least a chance to view it.

[2021-04-17 11:23] sibir-ine commented on #61
That could possibly be the case. However, none of us are lawyers, so we opted to err on the side of caution.

[2021-04-17 22:49] sibir-ine commented on #61
@Ortham Okay, I talked to a family member who works in a business that develops open source software, & they have someone well versed in open source licenses & copyright that would be happy to answer some questions. If he doesn't know, they could easily contact a lawyer too.

We should ask him if TsunaMoo is correct that as long as everyone had a reasonable chance to view this issue, that we can p

[2021-04-18 17:42] sibir-ine commented on #77
@RacerBG When you get the chance, can you please translate the following?

[code]

[2021-04-18 18:51] RacerBG commented on #77
@sibir-ine Always! :smile:

`"Преместете %1 от %2 в %3."`

[2021-04-18 21:12] sibir-ine commented on #77
Perfect, thanks!

[2021-05-05 05:06] sibir-ine commented on #61
@Ortham @Freso @MacSplody @pStyl3 @Infernio

Okay, I asked him a couple of questions, & he clarified some points of confusion I had. If anyone's curious, he's the founder of [EJBCA](https://www.ejbca.org/), so he's had a lot of experience & legal counsel on copyright as it's applied to open-source projects. I'll summarize the key points he made below.

First, I'd like to just cement the deadline f

[2021-05-20 20:03] Freso opened #85 "Move #loot IRC channel off freenode (or discontinue it)"
So [freenode has had a hostile takeover](https://gist.github.com/joepie91/df80d8d36cd9d1bde46ba018af497409/) and I’m working on moving as much of my activity off of freenode as I am able to. `#loot` is been one of the few channels I sit in that I have FOUNDER for, and the amount of traffic the channel gets is… negligible to say the least.

If we want to keep the IRC channel, I’d suggest moving it

[2021-05-20 20:32] Ortham commented on #85
Having bounced off IRC several times, I'm in favour of just discontinuing it. However, if you or anyone else wants to maintain an IRC channel on Libera.Chat, that's fine too.

[2021-05-20 20:36] sibir-ine commented on #85
I feel that the less places we have to check for suggestions/questions/support, the better.

[2021-05-20 20:45] sibir-ine commented on #85
I vaguely recall some mention; I'll take a look in a bit.

[2021-05-20 21:03] Freso commented on #85
I’ve set up a `#loot` channel on Libera.Chat as well, but also locking that like I did the freenode one, and redirecting to our other venues.

[2021-05-20 23:05] sibir-ine commented on #85
Doesn't look like there's any mention in LOOT, I was probably just thinking of a link to the website.

[2021-05-21 02:29] KeepBotting commented on #85
If you do decide to unlock either IRC channel and wish to run a bridge with the project's Discord, let me know, I'd be happy to help out with that

[2021-06-01 16:21] Superfly-Johnson commented on #61
I approve. It's no big deal and if it prevents doing any rollbacks then so be it.

I would like to add that I agree with the fact that metadata shouldn't be licensed.

[2021-06-01 19:07] sibir-ine commented on #61
@Superfly-Johnson Thanks! I just want to double-check, did you contribute to one of the GPLv3 masterlists under a different name, or are you agreeing for any future contributions you may make to them?

[2021-06-02 18:53] pStyl3 commented on #61
@Superfly-Johnson contributed to the Fallout 4 masterlist, see [here](https://github.com/loot/fallout4/commits?author=Superfly-Johnson&since=2021-01-31&until=2021-02-28), which is already under the CC0 lincese.

[2021-06-06 15:26] pStyl3 commented on #61
@RacerBG has agreed on Discord.

[2021-06-06 19:29] pStyl3 commented on #61
@IllusiveMan196 has agreed on Discord. (Russian and Ukrainian translations)

[2021-06-06 20:55] Allen1351 commented on #61
As the translator of the Spanish version, I agree. Keep the good work.

[2021-06-11 16:00] pStyl3 commented on #61
# 1st of July 2021

As written above, and in Discord:

The approval of these remaining contributors is missing:

### Skyrim:
@kuroko137
@ArkangelCorvus
@v111v111
Torrello `<torrello.boss at gmail.com>` ([Nexus](https://www.nexusmods.com/users/2018867))
Calen Ellefson `<tigercrab505 at gmail.com>` ([Nexus](https://www.nexusmods.com/users/3621086))

### Oblivion:
gabrielmonn `<gabrielmonn at gmail.c

[2021-06-11 17:28] Infernio commented on #61
The gabrielmonn reimplementations [are almost done](https://gist.github.com/Infernio/d1c02e4436cb1c96d5a85f33bf3891a9). I won't have time to finish them off for a while though (because WB is just about to reach Python 3).

[2021-07-01 20:12] pStyl3 commented on #61
The deadline has been reached. We now will actively start the process of relicensing the masterlists. As laid out above, the remaining contributors from which we haven't heard back will of course continue to be able to voice their opinion, but we will start reworking or removing their contributions now, so that the **Oblivion**, **Skyrim**, **Fallout 3** and **Fallout NV** masterlists can be relic

[2021-07-01 21:08] sibir-ine commented on #61
@Infernio has Oblivion covered, so I'll finish the to-do lists for New Vegas & FO3 to start working on them. Skyrim will be a whole other beast entirely, especially all of the Japanese translations. For those, we'll want to finish https://github.com/loot/skyrim/issues/452 first to reduce & centralize the translations as much as possible, then see if another Japanese translator would be willing to

[2021-07-01 22:14] Infernio commented on #61
I'll finish off the last couple Oblivion reimplementations tomorrow 👍

[2021-07-10 06:21] pStyl3 commented on #77
@Steamb23 and @silentdark
This is our old message anchor for our masterlist message `wildEdits`:
[code]
We shortened the message a short while ago, so
`This plugin contains wild edits beyond ITM and UDR records and deleted navmeshes and may require additional manual cleaning to not interfere with other mods. %1%`

became
`This plugin contains [wild edits](link) and may require additional manual cl

[2021-07-11 00:04] steamb23 commented on #77
The Korean translation of the text is as follows:

'잘못된 편집(wild edits)' left the original text for Koreans who refer to English documents to study modding.
But there are links, so it might be unnecessary. If so, please delete the text in parentheses.

[2021-07-11 06:21] pStyl3 commented on #77
Since the linked website is pointing to a section called "Wild Edits", I think we can remove the `(wild edits)` from the message.
Thanks!

[2021-07-18 09:43] pStyl3 commented on #77
[Reference Post](https://github.com/loot/loot.github.io/issues/77#issuecomment-877578049)

Current implementation of `wildEdits`:
[code]

New implementation:
[code]
I'd like to implement this change in the coming days.
`bg` translation by @RacerBG
`de` translation by myself
`es` translation by @Allen1351
`it` translation by Griam
`ja` translation by Menchi
`ko` translation by @steamb23
`ru` transl

[2021-07-19 19:19] silentdark commented on #77
Chinese translation:
这个插件包含[随意编辑](https://tes5edit.github.io/docs/7-mod-cleaning-and-error-checking.html#WildEdits)，可能需要额外的手动清理，以免干扰其他mod。%1%

[2021-08-18 08:33] pStyl3 commented on #85
I'm also in favor of discontinuing the IRC Channel, with AFKmods, Discord and Nexus we have plenty of places where people can get in contact with us. @Freso I think by deleting the IRC block within `_layouts/page.html` we could resolve this issue. Do you have any objections to that?

[2021-08-28 10:16] pStyl3 commented on #77
Hey @silentdark would you be able to translate these two message anchors into Chinese?
[code]

[2021-09-05 06:12] silentdark commented on #77
Chinese translation:
&mainQuestCompleted
只有在游戏的主要任务完成后才可以使用这个插件。

&versionXofYorGreaterRequired
需要 **%2%** 的 **%1%** 或更高版本。

[2021-09-14 16:49] sibir-ine commented on #61
After four years, this issue can finally be closed! Thank you so much to everyone who agreed & helped in the relicensing process!

[2021-09-14 16:49] #61 closed

[2021-09-19 10:12] pStyl3 commented on #76
@sibir-ine Since the "Dynamically Created Plugin" message is only to be found within the SLE masterlist and is also pretty generic, and we already have late loading groups assigned for them, I wouldn't mind removing it. These seem to be the plugins that will display the message:
[code]
[ASIS](https://www.nexusmods.com/skyrim/mods/18436)
[Automatic Spells](https://www.nexusmods.com/skyrim/mods/8853

[2021-09-19 21:56] pStyl3 opened #87 "Update masterlists to utilise prelude concept"
Under https://github.com/loot/loot/issues/1492

In order for the masterlists to make use of the newly created [prelude.yaml](https://github.com/loot/prelude), a few things must be adjusted.

# Part 1
The first step is to introduce changes on the existing `v0.15` branch to start the migration process.
- [x] Add the new `prelude` node - with it's own `common` sub-node - before the existing masterlis

[2021-09-19 22:35] sibir-ine commented on #76
Yeah, I'd prefer to just remove it.

[2021-10-13 13:27] sibir-ine opened #88 "Reword masterlist Contributing readmes"
I mentioned this in the Discord a while ago, but it completely slipped my mind. I'll file this issue so it doesn't get lost again.

I noticed this paragraph in the Contributing readme for the masterlists:

Since we just squash PRs on merge & don't really worry about contributors keeping them tidy, I think we should change it to something like:

If anyone has any suggestions or concerns, please do

[2021-11-01 12:21] sibir-ine commented on #88
@Ortham I've just noticed this line as well:

referring to the docs on [metadata syntax](https://loot-api.readthedocs.io/en/stable/metadata/introduction.html). However, those docs don't appear to be packaged with LOOT. Should this line be removed, or can/should these docs be packaged with LOOT as well?

[2021-11-01 12:26] Ortham commented on #88
That must be a leftover before libloot was split into a separate repository. I'd just remove the text, though we could potentially repackage the docs from libloot - it's easier just to point to the online docs though.

[2021-11-01 13:20] #88 closed

[2021-11-17 09:10] pStyl3 opened #89 "Remove the "doNotClean" message from all masterlists"
Plugins with ITMs (Identical to Master), Deleted References or Deleted Navmeshes are considered `dirty` and we advise users to clean those plugins with xEdit.

However, there are some plugins where mod authors are of the opinion, that those ITMs are `intentional` and as such, shouldn't be cleaned.

If we find such a plugin, that only has ITMs (which are claimed to be intentional) and no other prob

[2021-11-17 09:10] #89 closed

[2021-11-24 05:27] sibir-ine opened #91 "Revisit mods with NoMerge tag for WB v311+"
The behavior of Wrye Bash's _NoMerge_ tag has changed somewhat over the years (see: https://github.com/wrye-bash/wrye-bash/issues/51), & the Wrye Bash team are planning to change it again relatively soon (see: https://github.com/wrye-bash/wrye-bash/issues/161, currently slated for v311 but subject to change). This means that many mods that are tagged with _NoMerge_ were done so expecting different

[2021-11-24 11:02] sibir-ine opened #92 "Revisit merger tags for WB v310"
As discussed in https://github.com/loot/oblivion/pull/691#pullrequestreview-808165053 & in the Wrye Bash Discord (see [here](https://discord.com/channels/537706885965676554/537708965942001685/910507844808372254), [here](https://discord.com/channels/537706885965676554/537708965942001685/910973834583240705), & [here](https://discord.com/channels/537706885965676554/537708965942001685/9109814521942589

[2021-12-05 23:29] pStyl3 commented on #87
The `v0.17` branches have been created for the different masterlists. The next step is "Part 2" from the first post, within `v0.17` that is.

[2021-12-08 10:12] pStyl3 commented on #87
The needed changes have been applied.

[2021-12-16 21:08] pStyl3 commented on #87
Closing this issue as the needed changes have been done in the `v0.17` branches.

[2021-12-16 21:08] #87 closed

[2021-12-19 08:55] pStyl3 commented on #78
At this point in time we probably can close this issue. Even though we currently still need 3 more translations so that `&quickClean` is fully translated into all languages LOOT supports, `&quickClean` is simply one of many Message Anchors and probably shouldn't stand out above the others anylonger.

[2021-12-19 09:36] #78 closed

[2021-12-28 03:46] sibir-ine commented on #77
@gnunesm, I saw in #78 that you were willing to contribute a Brazilian Portuguese translation for a message. Seeing as our Brazilian Portuguese localization is a bit behind (26 untranslated strings in all), would you be interested in updating it?

[2022-01-08 22:05] Ortham commented on #55
Closing this since the functionality is included in LOOT's v0.17.0 release.

[2022-01-08 22:05] #55 closed

[2022-02-03 09:07] sibir-ine opened #97 "Adjust or clarify how LOOT handles versions"
LOOT's extended Semantic Versioning scheme for version parsing & comparison isn't completely backward-compatible with SemVer v2.0.0. Most ways are documented under the `version()` condition function in the [Functions section](https://loot-api.readthedocs.io/en/stable/metadata/conditions.html?highlight=version#functions) of the libloot docs (i.e., case-insensitivity & a wider range of separators).

[2022-02-03 21:08] Ortham commented on #97
We can't strictly adhere to semver because the existing behaviour was built in response to real-world versions not using semver, and we probably can't switch the comparison behaviour between semver-compatible and non-semver-compatible versions because semver is about conforming semantically as well as syntactically, and we don't know the intended semantics just by looking at the version string. Th

[2022-02-03 21:44] sibir-ine commented on #97
I can't think of anything else.

[2022-02-04 22:48] sibir-ine commented on #97
Yes, they look perfect, thanks! As a side note, it doesn't look like the Discord webhook is configured for loot-condition-interpreter.

[2022-02-04 22:53] Ortham commented on #97
OK, closing this then. I've also added that missing webhook.

[2022-02-04 22:53] #97 closed

[2022-04-06 21:17] pStyl3 commented on #77
@3ventic I just wondered if you would still be interested in updating the Finnish translation of LOOT? Theres a good amount of messages that need to be updated / translated (for the application as well as our new `Prelude` file), so we would gladly appreciate any help we could get.

[2022-04-18 09:46] pStyl3 commented on #77
@kuroko137
Thanks for updating the Japanese translation of the LOOT app. The PR should soon be merged by Ortham.

We have two more strings that need to be translated into Japanese, see `&compatPatch` and `&patchOutdated` within `prelude.yaml` in our [Prelude Repo](https://github.com/loot/prelude). It would be great if you could translate these too!

[2022-05-23 14:24] Pickysaurus opened #110 "Add warning when using plugins with `.esl` extension in VR games"
Suggestion: Generate a LOOT error message if the user has included an ESL or light flagged ESP in their Skyrim VR load order.

Not sure if this can be done at a MasterList level, so feel free to move this.

https://forums.nexusmods.com/index.php?/topic/11472988-vr-lack-of-support-for-esl-files/

[2022-06-22 22:14] pStyl3 opened #105 "State of masterlist.schema.yaml"
https://github.com/loot/loot.github.io/blob/master/masterlist.schema.yaml

https://github.com/loot/loot.github.io/issues/18

Do we still make use of this file in any way? It features data structures we no longer use, such as:

[code]
It also misses other things such as `bash_tags`, `groups` and `prelude`, plus `detail`.

As such I'm questioning if we should remove the file from the repository.

[2022-06-23 07:29] Ortham commented on #105
No, we don't use it any more, we should probably just remove it.

[2022-06-30 07:12] #105 closed

[2022-07-28 19:58] Ortham commented on #110
I don't think LOOT handles ESL-flagged plugins in Skyrim VR any differently from Skyrim SE.

[2022-07-29 02:03] sibir-ine commented on #110
It'd probably be a good idea to change that behavior for the VR games then. Though, we might want to wait for @pStyl3 to test it when they have the chance.

[2022-08-06 04:01] pStyl3 commented on #110
I've ordered the Valve Index now, so hopefully in around 2 to 3 weeks I have things set up.

[2022-08-14 15:26] pStyl3 commented on #110
The Valve Index has been delivered and I've spend a bit of the day setting everything up. This included:
- Installing SteamVR
- Placing two base stations and powering them
- Charging the empty batteries of the two controllers
- Connecting the headset itself (power, USB3.0 and Displayport connectors are needed)
- Installing software updates for all five devices individually (heatset, 2 base station

[2022-08-15 01:00] sibir-ine commented on #110
Double-checking that ESL-flagged ESP/Ms work but ESLs don't should be enough.

[2022-09-19 06:11] sibir-ine commented on #76
@MacSplody, @pStyl3, how do you guys feel about turning:

into an anchor? It's used three times in total in the SSE & FO4 masterlists (they were copied into the VR masterlists as well) as well as a variation in the FO4 masterlist:

If so, maybe we should opt for the variation as it's technically correct in the case where the only compatible version is the original. Though, maybe we should tweak th

[2022-09-19 22:10] pStyl3 commented on #76
I like your tweaked message, so I'm fine with turning this into a new anchor.